#container{
    height: 220px;
    width: 320px;
    background-color: rgb(79, 79, 222);
    border-radius: 5px;
    position: relative;
}

#inner1{
    height: 100%;
    width: 50px;
    background-color: yellow;
    position: absolute;
    left: 100px;
}

#inner2{
    height: 50px;
    width: 100%;
    background-color: yellow;
    position: absolute;
    top: 85px;
}