.pond {
  display: flex;
  flex-wrap: wrap;       
  height: 300px;         
  border: 2px dashed gray;
  align-content: space-evenly; 
}

.frog {
  flex:30%;        
  height: 60px;
  background: lightgreen;
  margin: 5px;
  text-align: center;
}