#container{
    height: 210px;
    width: 300px;
    background-color: red;
    border-radius: 5px;
    position: relative;
}

#inner{
    height: 95px;
    width: 100%;
    background-color: blue;
    position: absolute;
    top: 60px;
    
}

#circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 12px;
    left: 115px;
}