.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    gap: 5px;
    padding: 5px;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.inner{
    border: 2px solid green;
    border-radius: 5px;
}