.container{
    width: 100vh;
    height: 100vh;
    position: relative;
}
.box {
  height: 100px;
  width: 100px;
  border: 2px solid gray;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  animation-name: moving;
  animation-duration: 1s;
  position: absolute;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-direction: alternate;
  animation-delay: 2s;
}

@keyframes moving {
  from {
    background-color: black;
    top: 20px;
    left: 40px;
  }
  to {
    position: relative;
    top: 20px;
    left: 600px;
  }
}
