#box{
    height: 200px;
    width: 300px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: aliceblue;
    position: relative;
}

#circle{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 35px;
    left: 85px;
}